// Colors
$color-primary: rgba(32, 238, 94, 0.801);
$color-secondary: rgba(40, 128, 202, 1);

$color-black: rgba(24, 28, 27, 88);
$color-black-dark: rgba(33, 38, 34, 1);

$color-white: rgba(255, 255, 255, 0.94);
$color-grey-light: rgba(238, 238, 238, 0.89);
$color-grey-dark: rgba(170, 170, 170, 1);

// Fonts
$primary-font: 'Rubik', sans-serif;
