.app {
  min-height: 100vh;
  background-image: linear-gradient(45deg, #adcccf, #6ac7cf61);

  display: grid;
  grid-template-columns: 1fr repeat(10, minmax(min-content, 14rem)) 1fr;
  grid-template-rows: min-content 80vh;

  // Tablet
  @media screen and (max-width: 76.8em) {
    grid-template-rows: min-content 70vh;
  }
}

.spinner {
  &__box {
    display: flex;
    justify-content: center;
  }

  &__icon {
    display: inline-block;
    width: 14rem;
    height: 14rem;
    margin-top: 15rem;

    animation: spinInCircle 2s ease-in-out -2s infinite;
  }
}
